@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Roboto', sans-serif

.header
  //background-position center
  background-color #44b  

  .page-title
    font-family 'Kaushan Script', cursive
    font-weight lighter
    font-size 50px
    text-align center 
    padding 4px 10px
    text-transform lowercase
    color #fff

.nav
  background #44b
  text-align center

  li
    display inline-block
    color #fff
    vertical-align: middle

  a
    display inline-block
    padding 4px
    color #fff
    text-decoration none

    &:hover
      //background-color #3AB795
      background-color #fff
      color #44b
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
