extend base

block content
  iframe(width='552', height='167', src='https://itch.io/embed/132037', frameBorder='0', seamless='seamless')
  iframe(width='552', height='167', src='https://itch.io/embed/137283', frameBorder='0', seamless='seamless')
  script(src='/source/js/test.js')
